
.row {
  margin-left: 40px;

  &__title {
    color: $main-gray-color;
  }

  &__posters {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__poster {
    object-fit: contain;
    max-width: 233px;
    max-height: 131px;
    transition: transform 450ms;

    &:hover {
      transform: scale(1.08);
    }
  }
}

.swiper-button-prev, .swiper-button-next {
  color: $main-white-color
}
