.nav {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 0 60px;
  height: 60px;
  z-index: 2;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.7) 10%, rgba(0,0,0,0));

  display: flex;
  justify-content: space-between;
  align-items: center;

  //Animations
  transition-timing-function: ease-in;
  transition: all 1s;

  &__logo {
    width: 92px;
    object-fit: contain;
  }

  &__avatar {
    width: 25px;
    object-fit: contain;
  }

  &__black {
    background-color: $main-black-color;
  }

  &__item {
    &--secondary {
      display: flex;
      align-items: center;

      > *:not(:first-child) {
        margin-left: 20px;
      }
    }
  }

  &__unordered-list {
    display: flex;
    align-items: center;
    list-style: none;
    padding-left: 0;

    > *:not(:first-child) {
      margin-left: 20px;
    }

    > *:first-child {
      height: 25px;
      margin-right: 1rem;
    }
  }

  &__link {
    text-decoration: none;
    color: $main-gray-color;
    font-size: 13px;

    &.active:hover {
      color: white;
    }

    &:hover {
      color: #b3b3b3;
    }
  }
}

.active {
  color: #fff;
  font-weight: 700;
  cursor: default;
}

