* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.wrapper {
  background: $main-black-color;
}

.swiper-button-prev, .swiper-button-next {
  color: $main-white-color  !important;
  padding: 24px;
  transition: transform 450ms;

  &:hover {
    transform: scale(1.3);
  }
}
